root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 180
tab_width = 4

[{*.har,*.json,*.jsonc}]
indent_size = 2

[{*.yaml,*.yml}]
indent_size = 2

[*.kt]
ij_kotlin_line_break_after_multiline_when_entry = false
ij_kotlin_variable_annotation_wrap = off
ij_kotlin_field_annotation_wrap = off
